.split {
    height: 100%;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    width: 65%;
    float: left;
    /* background-color:rgb(150, 197, 253); */
}

.right {
    float: right;
    width: 35%;
    /* background-color:rgb(231,227,217); */
}
